$main-color: #504747;
$title-color: #3A1212;
$menu-color: #837171;
$accent-color: #FF2625;

%Alegreya-400 {
    font-family: "Alegreya";
    font-weight: 400;
}

%Alegreya-600 {
    font-family: "Alegreya";
    font-weight: 600;
}

%Alegreya-700 {
    font-family: "Alegreya";
    font-weight: 700;
}

%JosefinSans-400 {
    font-family: "JosefinSans";
    font-weight: 400;
}

%JosefinSans-600 {
    font-family: "JosefinSans";
    font-weight: 600;
}

%JosefinSans-700 {
    font-family: "JosefinSans";
    font-weight: 700;
}

